body{
    margin: 0;
}

.center{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loadingspinner {
	pointer-events: none;
	width: 2.5em;
	height: 2.5em;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}
.hide{
    display: none;
}
#map{
    width: 100vw;
    height: 100vh;
}


#menu {
    border-radius: 20px;
    color: white;
    z-index: 10;
    position: absolute;
    left: 50%;
    background: #f7030370;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    }

